@import "~carbon-components/css/carbon-components.css";

.searchpatient {
  padding-top: 3rem;
}
.searchPagination {
  width: 100%;
}
.mainSearch{
  margin: 2.5rem;
}
.searchForm{
  padding-top: 10px;
padding-bottom: 10px;
}
