@import "~carbon-components/css/carbon-components.css";
.registerPatient {
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.names {
  display: flex;
}
span {
  display: flex;
}
.addText {
  text-align: center;
}
