@import "~carbon-components/css/carbon-components.css";

.registerPatient {
 padding: 10px;
}
.main-Form{
  margin-top: 8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border: groove rgb(189, 187, 187);
}
.names {
  display: flex;
}
.names-input {
  margin-right: 0.5rem;
}
.input2-Group {
  display: flex;
  
}
.input2 {
  margin-right: 0.5rem;
}
.addPerson {
  padding: 10px;
}


.addText {
  text-align: center;
}
.btn-createPatient {
  margin-top: 10px;
}
.saveButton {
  margin-top: 10px;
}
